<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
      <add key="LottoDriverApiUrl" value="https://api.lottodriver.com"/>
      <add key="LottoDriverClientId" value=""/>
      <add key="LottoDriverSecret" value=""/>

      <add key="DatabasePath" value="../../../Database/lotto_driver_examples.db"/>
    </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
